.section-servicios {
    text-align: center;
    margin-top: 45vw;
}

.section-servicos-tittle {
    font-size: 30px;
    font-weight: bold;
    letter-spacing: 2px;
    padding-bottom: 30px;
}

.container-section-servicios-base {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 80%;
    margin: 0 10%;
}

.container-section-servicios-tablero {
    display: flex;
    width: 80%;
    margin: 0 10%;
}

.container-section-servicios-mas {
    display: flex;
    width: 80%;
    margin: 0 10%;
}

.container-section-servicios-montaje {
    display: flex;
    justify-content:center;
    width: 80%;
    margin: 0 10%;
}

.card-tablero, .card-montaje, .card-mas {
    display: flex;
}

.servicios, .servicios-aux {
    z-index: 100;
}

.servicios img, .servicios-aux img {
    width: 240px;
    height: 240px;
    z-index: 1000;
}

.servicio-base {
    box-sizing: border-box;
    width: 271px;
    height: 271px;
    background: rgba(229, 229, 229, 0.21);
    border: 1px solid #FFE925;
    box-shadow: 5px 7px 13px rgba(0, 0, 0, 0.12);
    border-radius: 100%;
    padding: 15px;
}

.servicio-montaje {
    box-sizing: border-box;
    width: 271px;
    height: 271px;
    background: rgba(229, 229, 229, 0.21);
    border: 1px solid #FFE925;
    box-shadow: 5px 7px 13px rgba(0, 0, 0, 0.12);
    border-radius: 100%;
    padding: 15px;
}

.servicio-mas {
    box-sizing: border-box;
    width: 271px;
    height: 271px;
    background: rgba(229, 229, 229, 0.21);
    border: 1px solid #FFE925;
    box-shadow: 5px 7px 13px rgba(0, 0, 0, 0.12);
    border-radius: 100%;
    padding: 15px;
}

.servicio-text {
    font-size: 20px;
    font-weight: bold;
}

.servicio-responsive {
    display: none;
}

/*RESPONSIVE*/
@media only screen and (max-width: 1000px) {
    .servicios img, .servicios-aux img {
        height: 200px;
        width: 200px;
        z-index: 1000;
    }
    .section-servicios {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        width: 90%;
        margin: 0 5%;
        padding-top: 30vw;
    }
    .container-section-servicios-tablero {
        display: flex;
        /* flex-direction: column; */
        justify-content: space-around;
        /* align-items: center; */
        width: 90%;
    }
    .container-section-servicios-montaje {
        display: flex;
        /* flex-direction: column; */
        justify-content: space-around;
        /* align-items: center; */
        width: 90%;
    }
    .container-section-servicios-mas {
        display: flex;
        /* flex-direction: column; */
        justify-content: space-around;
        /* align-items: center; */
        width: 90%;
    }
    .section-servicos-tittle {
        padding-top: 30px;
        padding-bottom: 0;
    }
    .servicios-aux {
        z-index: 100;
        width: 100%;
    }
    .servicios-aux img {
        width: 150px;
        height: 150px;
    }
    .card-tablero, .card-montaje, .card-mas {
        display: block;
    }
}
@media only screen and (max-width: 600px) {
    .section-servicios {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        width: 90%;
        margin: 0 5%;
        padding-top: 0;
    }
    .container-section-servicios-tablero {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        width: 90%;
    }
    .container-section-servicios-montaje {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        width: 90%;
    }
    .container-section-servicios-mas {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        width: 90%;
    }
    .servicios img, .servicios-aux-mobile img {
        height: 150px;
        width: 150px;
        z-index: 1000;
    }
    .servicios {
        z-index: 100;
        width: 100%;
    }
    .servicios-aux {
        z-index: 100;
        width: 100%;
    }
}