.section-productos {
    width: 80%;
    margin: 5% 10%;
}

.container-productos-list {
    display: flex;
    justify-content: center;
}

.section-productos-tittle {
    font-size: 30px;
    font-weight: bold;
    letter-spacing: 2px;
    margin-top: -30px;
    padding-bottom: 10px;
}

.container-productos-list-back-rectangle-1 {
    display: flex;
    justify-content: center;
    /* width: 750px; */
    width: 75%;
    height: 500px;
    background: #ffe9259e;
    border-radius: 50px;
}

.container-productos-list-back-rectangle-2 {
    display: flex;
    justify-content: center;
    /* width: 720px; */
    width: 95%;
    /* height: 470px; */
    height: 95%;
    margin-top: 15px;
    background: #FFE925;
    border-radius: 50px;
}

.section-productos-tittle {
    display: flex;
    justify-content: center;
}

.productos-title {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.container-productos {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: -30px;
}

.section-productos-ver-mas {
    display: flex;
    justify-content: center;

}

.productos-ver-mas {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    width: 150px;
    height: 50px;
    background-color: #FFF6A8;
    box-shadow: 1px 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
}

/*RESPONSIVE*/
@media only screen and (max-width: 1000px) {
    .container-productos {
        display: none;
    }
}