.page-container {
    display: flex;
    flex-direction: column;
}

.page-productos-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: -50px;
}

.page-productos-title {
    margin-top: -200px;
    position: absolute;
    width: 766px;
    height: 147px;
    background: #FFE81E;
    box-shadow: 0px 12px 15px 2px rgba(0, 0, 0, 0.25);
    border-radius: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.background-page-productos {
    
}

.page-productos-title h4 {
    font-size: 50px;
}

.list-container {
    margin: 0 100px;
}

/* #title-productos {
    border-bottom: solid 2px #FFE81E;
}
#title-productos h2{
    color: #FFE81E;
} */